# From patterns in https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file
*     @awildturtok @thoniTUB
/frontend/    @kadrian
