version: 2
updates:
  - package-ecosystem: maven
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    assignees:
      - awildturtok
      - thoniTUB
    labels:
      - java
      - dependencies
    rebase-strategy: disabled
  - package-ecosystem: npm
    directory: "/frontend"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 0
    assignees:
      - Kadrian
    labels:
      - javascript
      - dependencies
    versioning-strategy: increase
    rebase-strategy: disabled
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      # Check for updates to GitHub Actions every week
      interval: "weekly"
    labels:
      - gh-actions
      - dependencies
  - package-ecosystem: "docker"
    # Should match both dockerfiles according to https://github.com/dependabot/dependabot-core/commit/4d797fd82bbc9e99c80c0deea72ab698ceb64320
    directory: "/"
    schedule:
      interval: "weekly"
    assignees:
      - awildturtok
      - thoniTUB
    labels:
      - docker
      - dependencies
