version: 2
updates:
  - package-ecosystem: maven
    directory: "/"
    schedule:
      interval: daily
      time: "04:00"
    open-pull-requests-limit: 10
    assignees:
      - awildturtok
      - thoniTUB
    labels:
      - java
      - dependencies
    rebase-strategy: disabled
  - package-ecosystem: npm
    directory: "/frontend"
    schedule:
      interval: daily
      time: "04:00"
    open-pull-requests-limit: 0
    assignees:
      - Kadrian
    labels:
      - javascript
      - dependencies
    versioning-strategy: increase
    rebase-strategy: disabled
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      # Check for updates to GitHub Actions every week
      interval: "weekly"
    labels:
      - gh-actions
      - dependencies
