########################################
# If you add / remove env variables, make sure to also adjust
# - the Dockerfile
# - the ./scripts/replace-env-at-runtime.sh script
# - the ./src/js/environment/index.ts file
########################################

# Temporarily used, until conversion from flow to typescript is done
TSC_COMPILE_ON_ERROR=true

PORT=8000

REACT_APP_API_URL=http://localhost:8001
REACT_APP_DISABLE_LOGIN=false

# to host the app under a relative path
REACT_APP_BASENAME=

# also possible: en
REACT_APP_LANG=de

# Using keycloak as the Identity Provider (IDP)
REACT_APP_IDP_ENABLE=false
REACT_APP_IDP_URL=http://localhost:8080/auth
# NOTE: You will need to create this realm in keycloak
REACT_APP_IDP_REALM=Myrealm
# NOTE: You will need to create this client in keycloak
REACT_APP_IDP_CLIENT_ID=frontend