# maven
*.xml.versionsBackup
.flattened-pom.xml

# vscode
launch.json

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Eclipse files
**/.project
**/.classpath
**/.settings
**/.eclipse-pmd
**/.vscode
**/.factorypath

# NetBeans specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/frontend/node/
/frontend/cfp-*

**/.settings/
**/.checkstyle
**/*.hprof
**/.idea/
**/codeGenDebug
**/pom.properties
**/dumps
**/target/

**/.iml
**/.idea
/storage/
*.iml

/workspace.code-workspace
**/Lib/
**/Include/
**/etc/
**/share/
**/*-checkpoint.ipynb
**/pyvenv.cfg
tutorial/mimic_iii_demo/data/**

/node_modules

# cypress fails
/cypress/screenshots/*
/cypress/videos/*