$screen-md-max: 900px
$md-max: '( max-width: #{ $screen-md-max } )'

$screen-md-min: 901px
$md-min: '( min-width: #{ $screen-md-min } )'

$screen-xs-max: 600px
$xs-max: '( max-width: #{ $screen-xs-max } )'

$screen-xs-min: 601px
$xs-min: '( min-width: #{ $screen-xs-min } )'

=respond-to($media)
  @media #{$media}
    @content

// Now we can do media queries like:
//
// .my-element
//   padding: 20px
//
//   respond-to: $md-max
//     padding: 10px
//
