.query-node-actions
  margin: 0 0 7px
  height: 18px // To provide enough space when only --right is available
  &--right
    position: absolute
    right: 7px
    top: 5px

  &--left
    .query-node-actions__action
      margin-right: 5px

  &__action
    &--active
      color: $col-blue-gray-dark
      font-weight: 700
      &:hover
        color: $col-blue-gray-dark
        opacity: 0.7
