.tab-navigation
  margin-bottom: 10px
  border-bottom: 1px solid $col-gray-light
  padding: 0 20px
  background-color: white

  &__tab
    transition: color $transition-time, border-bottom $transition-time
    cursor: pointer
    display: inline-block
    margin-right: 15px
    color: $col-gray
    border-bottom: 3px solid transparent

    &--active
      border-bottom: 3px solid $col-blue-gray-dark
      color: $col-blue-gray-dark

    &:hover
      &:not(.tab-navigation__tab--active)
        color: $col-black
        border-bottom: 3px solid $col-gray-light
