.timebased-node
  &__container
    border: 1px solid $col-blue-gray
    border-radius: $border-radius
    transition: all $transition-time
    overflow: hidden

    &:hover
      border: 1px solid $col-blue-gray-dark

  &__content
    display: table
    width: 100%
    background-color: white

  &__description
    display: table-cell
    vertical-align: middle
    position: relative
    padding: 10px

    &__text
      word-break: break-word

  &__index-result-btn
    border: none
    border-top: 1px solid $col-blue-gray-light
    width: 100%
    color: $col-black
    padding: 6px 0
    background-color: white
    transition: all $transition-time
    font-size: $font-xs

    &:hover
      &:not(.timebased-node__index-result-btn--active)
        background-color: $col-gray-very-light

    &--active
      background-color: $col-blue-gray-very-light
      border-top: 1px solid $col-blue-gray
      color: $col-black

    &--disabled
      cursor: not-allowed
      opacity: 0.6

  &__timestamp
    width: 70px
    display: table-cell
    vertical-align: middle
    border-right: 1px solid $col-blue-gray-light
    text-align: right

    &__title
      font-size: $font-tiny
      margin: 0 0 5px
      padding: 2px 5px 0
      text-transform: uppercase
      font-weight: 700
      color: $col-gray
