$toggle-button-border-radius: 2px

.toggle-button
  margin: 0

  &__option
    font-size: $font-xs
    display: inline-block
    padding: 2px 8px
    cursor: pointer
    transition: color $transition-time, background-color $transition-time
    color: $col-gray
    border: 1px solid $col-gray
    background-color: $col-gray-light

    // lets the borders overlap
    margin-left: -1px

    &:first-child
      // first child's left border does not overlap
      margin-left: 0
      border-top-left-radius:  $toggle-button-border-radius
      border-bottom-left-radius:  $toggle-button-border-radius

    &:last-child
      border-top-right-radius:  $toggle-button-border-radius
      border-bottom-right-radius:  $toggle-button-border-radius

    &:hover
      background-color: $col-gray-very-light

    &--active
      color: $col-black
      background-color: white

      &:hover
        background-color: white
