.upload-concept-list-modal
  padding: 20px 0 10px

  &__section
    margin-top: 1em
    margin-bottom: 1em

  &__explanation
    margin: 10px
    font-size: $font-sm
    text-transform: uppercase
    font-weight: 700

  &__error
    color: $col-red
    text-align: center

  &__success
    color: $col-green
    text-align: center

  &__info
    color: $col-blue-gray-dark
    text-align: center

  &__accept, &__loading
    text-align: center

  &__status
    p
      margin: 0
