.upload-report
  margin: 0 auto 10px
  display: inline-block

  &__successful-count, &__unsuccessful-count
    margin: 0
    text-align: left
    font-size: $font-sm

  &__unsuccessful-count
    color: $col-red
