name: "Release Backend"

on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+-[0-9]+KW[0-9][0-9]"
      - "v[0-9]+.[0-9]+.[0-9]+-[0-9]+KW[0-9][0-9]-HOTFIX-*"
      - "!v[0-9]+.[0-9]+.[0-9]+-[0-9]+KW[0-9][0-9]-RC*" # Don't release RCs

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: true
      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Cache local Maven repository
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Build
        run: ./build_version.sh
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            executable/target/conquery*.jar
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
