name: "Test Backend"

on:
  push:
    branches:
      # Always run on protected branches
      - master
      - develop
      - release
  pull_request:
    paths:
      - "backend/**"
      - ".github/workflows/test_backend.yml"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
      with:
        submodules: true
    - name: Cache local Maven repository
      uses: actions/cache@v4
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-
    - name: Set up JDK
      uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: '21'
        overwrite-settings: false
    - name: Build Backend
      run: mvn -T 1C install -pl backend -DskipTests -am

  test:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    needs: build
    strategy:
      fail-fast: true
      matrix:
        test-group:
          - name: Unit Test
            flags: -DexcludedGroups="INTEGRATION_PROGRAMMATIC, INTEGRATION_JSON, INTEGRATION_SQL_BACKEND"
          - name: Programmatic Integration Tests
            flags: -Dgroups="INTEGRATION_PROGRAMMATIC"
          - name: JSON based Integration Tests
            flags: -Dgroups="INTEGRATION_JSON"
          - name: SQL based Integration Tests
            flags: -Dgroups="INTEGRATION_SQL_BACKEND"
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true
      - name: Cache local Maven repository
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
          overwrite-settings: false
      - name: ${{ matrix.test-group.name }}
        run: mvn test -T 1C -pl backend ${{ matrix.test-group.flags }}
