name: "Test Frontend"

on:
  pull_request:
    paths:
      - "frontend/**"

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    timeout-minutes: 6
    strategy:
      matrix:
        node-version: [16.x]
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: install dependencies
        working-directory: ./frontend
        run: yarn --ignore-platform
      - name: setup env variables
        working-directory: ./frontend
        run: cp .env.example .env
      - name: lint
        working-directory: ./frontend
        run: yarn lint
      - name: lint
        working-directory: ./frontend
        run: yarn checkformat
      - name: test
        working-directory: ./frontend
        run: yarn test
