name: "Test Frontend"

on:
  push:
    branches:
      # Always run on protected branches
      - master
      - develop
      - release
  pull_request:
    paths:
      - "frontend/**"

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 6
    steps:
      - uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: install dependencies
        working-directory: ./frontend
        run: yarn --ignore-platform
      - name: setup env variables
        working-directory: ./frontend
        run: cp .env.example .env
      - name: lint
        working-directory: ./frontend
        run: yarn lint
      - name: check format
        working-directory: ./frontend
        run: yarn checkformat
      - name: test
        working-directory: ./frontend
        run: yarn test
